@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hanken+Grotesk:wght@500;700;800&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,200&family=Fira+Sans:wght@300&family=Inter&family=Merriweather&family=Open+Sans:ital,wght@1,500&family=Roboto+Condensed:wght@500&display=swap");
:root {
  --primary-color: #c5fff8;
  --secondary-color: #96efff;
  --button: #5fbdff;
  --Background: #7b66ff;
  --text: White;
}
* {
  margin: 0;
  padding: 0;
}
.services {
  background-color: var(--primary-color);
  width: 470px;
  height: 550px;
  overflow: hidden;
}
.services .header {
  width: 34%;
  height: 6%;
  background-color: var(--Background);
  margin-left: 10%;
  color: white;
}
.services .header > h2 {
  font-size: 15px;
  padding-left: 5%;
  padding-top: 4%;
}
.services .middle {
  width: 85%;
  height: 35%;
  margin-left: 15%;
  padding-top: 5%;
}
.services .contract {
  width: 90%;
  height: 50%;
  margin-left: 10%;
}
.services .contract .head_contract {
  width: 30%;
  height: 10%;
  background-color: var(--Background);
  color: white;
  margin-bottom: 2%;
}
.services .contract .head_contract > h2 {
  font-size: 15px;
  padding-left: 5%;
  padding-top: 2%;
}
.services .contract .inputBox {
  width: 80%;
  height: 90%;
}
.services .contract .inputBox .email {
  width: 80%;
  height: 35px;
  position: relative;
  margin-bottom: 15px;
}
.services .contract .inputBox .email > input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: var(--button);
  background: transparent;
  border-radius: 5px;
}
.services .contract .inputBox .email > p {
  position: absolute;
  z-index: 2;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
  transition: 0.5s;
  font-family: "Roboto Condensed", sans-serif;
}
.services .contract .inputBox .email input:focus + p,
.services .contract .inputBox .email input:valid + p {
  font-size: 5px;
  border: 1px solid var(--Background);
  border-radius: 10px;
  padding: 2px;
  margin: 0;
}
.services .contract .inputBox .text {
  width: 80%;
  max-height: 100px;
  margin-bottom: 15px;
}
.services .contract .inputBox .text > textarea {
  margin-bottom: 20px;
  width: 100%;
  /* height: 30px; */
  max-width: 100%;
  max-height: 100px;
  border: var(--button);
}

.services .contract .inputBox .button {
  margin-left: 80px;
  margin-top: 5px;
  width: 100px;
  height: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
.services .contract .inputBox .button > button {
  width: 100%;
  height: 100%;
  color: var(--text);
  background-color: var(--button);
  border: none;
}
.services .footer {
  width: 150px;
  height: 35px;
  background-color: var(--Background);
  margin-left: 20px;
  right: 0px;
  bottom: 0;
  position: absolute;
}
@media (max-width: 500px) {
  .services {
    width: 185px;
    height: 331px;
  }
  .services .header {
    width: 50%;
  }
  .services .header > h2 {
    font-size: 10px;
  }
  .services .middle ul > li {
    font-size: 10px;
  }
  .services .contract .head_contract {
    width: 40%;
    height: 10%;
    background-color: var(--Background);
    color: white;
    margin-bottom: 2%;
  }
  .services .contract .head_contract > h2 {
    font-size: 10px;
    padding-left: 5%;
    padding-top: 2%;
  }
  .services .contract .inputBox .email {
    height: 20px;
    width: 85%;
    margin-bottom: 5px;
  }
  .services .contract .inputBox .email > p {
    font-size: 7px;
  }
  .services .contract .inputBox .text {
    width: 85%;
    max-height: 90px;
  }
  .services .contract .inputBox .button {
    margin-left: 25px;
    margin-top: -10px;
    width: 60px;
    height: 15px;
  }
  .services .contract .inputBox .button button {
    font-size: 8px;
  }
  .services .footer {
    width: 82px;
    height: 15px;
    background-color: var(--Background);
    margin-left: 0px;
    right: 0px;
    bottom: -7px;
    position: absolute;
  }
  .services .contract .inputBox .text > textarea {
    font-size: 8px;
    margin-bottom: 8px;
    max-height: 80px;
    min-height: 50px;
  }
  .services .contract .inputBox .email > input {
    font-size: 7px;
  }
}
